.grid {
    margin: 30px;
    display: flex;
    justify-content: space-between;
}


/* feed  */

.feedContainer {
    display: flex;
    justify-content: start;
    width: 100%;
    margin-left: 200px;
}

.feedSubContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* hiding on break points */

.posts {
    margin: 10px 100px;
}

@media only screen and (max-width: 1466px){
   .posts {
       display: none;
   } 
}