.container{
    margin: 100px 30%;
}

.mt{
    margin-top: 20px;
}

.utils{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

@media only screen and (max-width: 784px){
    .utils{
        flex-direction: column;
    }

    .utils a{
        margin-top: 10px;
    }

    .container{
        margin: 100px 10%;
    }
}